PORT=8000
MONGODB_URI=mongo-DB-URL
CORS_ORIGIN=* 
ACCESS_TOKEN_SECRET= access-Token-Secret-key(randomly generated) #for generating access token
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET= refresh-Token-Secret-key(randomly generated) #for generating refresh token
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=cloudnary-Name
CLOUDINARY_API_KEY=cloudnary-API-key
CLOUDINARY_API_SECRET=cloudnary-API-secret
